commands:
  01_nodejs_install:
    command: export PATH=/opt/elasticbeanstalk/node-install/node-v8.17.0-linux-x64/bin:$PATH
    ignoreErrors: true

container_commands:
  01_backend:
    command: "cd ./backend && npm install cors"
    leader_only: true

container_commands:
  01_backend:
    command: "cd ./backend && npm start"
    leader_only: true
