commands:
  01_nodejs_install:
    command: pwd && export PATH=/opt/elasticbeanstalk/node-install/node-v8.17.0-linux-x64/bin:$PATH && npm -v
    ignoreErrors: true

container_commands:
  01_backend:
    command: "pwd && cd ./backend && npm install cors"
    leader_only: true

container_commands:
  02_backend:
    command: "pwd && cd ./backend && npm start"
    leader_only: true
